%% -*- Erlang -*-
{erl_opts, [debug_info]}.
%%{erl_opts, [debug_info, native]}.
{cover_enabled, true}.
{deps, [{lager, ".*",
         {git, "https://github.com/basho/lager.git",
          {tag, "1.2.1"}}},
        {gen_smtp, ".*",
         {git, "git@github.com:SiftLogic/gen_smtp.git",
          {branch, "feat/backport-otp23"}}}
    ]}.
{dialyzer_opts, [{warnings, [unmatched_returns,
                             error_handling,
                             race_conditions,
                             underspecs]}, src]}.
{xref_checks, [undefined_function_calls]}.
