%% -*- Erlang -*-
{erl_opts, [debug_info]}.
%%{erl_opts, [debug_info, native]}.
{cover_enabled, true}.
{deps, [{gen_smtp, ".*",
         {git, "https://github.com/Vagabond/gen_smtp.git",
          "master"}}
    ]}.
{dialyzer_opts, [{warnings, [unmatched_returns,
                             error_handling,
                             race_conditions,
                             underspecs]}, src]}.
{xref_checks, [undefined_function_calls]}.
